<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>CUBoards</title>
		<link type="text/css" href="/static/jquery-ui-1.8.9.customFRONT.css" rel="stylesheet" />	
		<link type="text/css" href="/static/application.css" rel="stylesheet" />	
    <link type="text/css" href="/static/homepage.css" rel="stylesheet" />
	</head>
<body>
  <div id="header">
    <h1>CourseBoards</h1>
    <p>A super fun place to chat with your friends during class. </p>
  </div>

  <div id="content">
  <ol class="courses">
  #for $i in range($len($courses)):
	  <li id="#${courses}_${i}">
	    #set $titre = "course/"+$courses[$i]['title']
	    <a href=$titre>
      $courses[$i]["title"]
            </a>
  <span class="tab">
    #set $timing=str($courses[$i]["hours"])+"-"+str($courses[$i]["hours"])+"<br />"

    $timing

  </span>
    </li>
  #end for
  </ol>
   #if not $courses:
   <center><p>There are no classes in session at this time. Come back soon!</p></center>
   #end if
  </div>
  <a href="../suggest">Suggest a New Class</a>
</body>
</html>
