<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>CourseBoards</title>
		<link type="text/css" href="/static/jquery-ui-1.8.9.customFRONT.css" rel="stylesheet" />	
		<link type="text/css" href="/static/application.css" rel="stylesheet" />	
    <link type="text/css" href="/static/homepage.css" rel="stylesheet" />
	</head>
<body>
  <div id="header">
    <h1>CourseBoards</h1>
    <p>A super fun place to chat with your friends during class. </p>
  </div>

  <div id="content">
  <ol class="courses">
  #for $i in range($len($courses)):
	  <li id="#${courses}_${i}">
	    #set $titre = "course/"+$courses[$i]['title']
	    <a href="$titre">
      $courses[$i]["title"]
            </a>
  <span class="tab">
    #set $before_hour = str($courses[$i]["hours"][0] / 100)
    #set $before_minutes = ($courses[$i]["hours"][0]% 100) 
    #set $after_hour =  str($courses[$i]["hours"][1]/ 100) 
    #set $after_minutes =  ($courses[$i]["hours"][1]% 100)
    #set $zero = "0"
    #set $zeroafter = "0"
    
    #if $before_minutes < 10
       #set $zero = $zero + str($before_minutes)
    #else:
       #set $zero = str($before_minutes)
    #end if

    #if $after_minutes < 10:
        #set $zeroafter = $zeroafter + str($after_minutes)
    #else:
        #set $zeroafter = str($after_minutes)
    #end if
    
    #set $timing=$before_hour+":"+$zero+"-"+$after_hour+":"+$zeroafter+"<br />"

    $timing

  </span>
    </li>
  #end for
  </ol>
   #if not $courses:
   <center><p>There are no classes in session at this time. Come back soon!</p></center>
   #end if
  </div>

<div align="center">
<form action="../suggest/">
<input type="submit" value="Suggest a new class!">
</form>

<a href="/static/about.html">About</a>
<a href="/static/faq.html">FAQ</a> 
<a href="/static/contact.html">Contact Us</a> 

</div>
</body>
</html>
