<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>CourseBoards</title>
		<link type="text/css" href="/static/jquery-ui-1.8.9.customFRONT.css" rel="stylesheet" />	
		<link type="text/css" href="/static/application.css" rel="stylesheet" />	
    <link type="text/css" href="/static/homepage.css" rel="stylesheet" />
	</head>
<body>
  <div id="header">
    <h1>CourseBoards</h1>
    <p>A super fun place to chat with your friends during class!</p>
  </div>
  <div id="content">
    <form action="" method="post">
    <input type="text" name="message" id="Class" value="Class" />
    <input type="text" name="room" id="Place" value="Place" />
    <input type="text" name="time" id="Time" value="Time" />
    <input type="submit" value="submit" />
    </form>
  </div>
</body>
</html>
