a img {
border:0px;
}

body {
margin:0;
padding:0;
background:#72A97E;
}

div#wrapper {
position:relative;
height:100%;
overflow:hidden;
}

div#footer {
position:absolute;
bottom: 0px;
width: 100%;
height: 50px;
color: #BDDFC9;
background: #445E4E;
padding: 10px;
}

/* HEADER CODE */
div#header {
text-align:center;
text-shadow: 1px 1px 0px #212E26;
background: #445E4E;
color:#BDDFC9;
padding: 10px;
}
div#header h1 {
margin: 0px; 
}
div#header h2 {
font-variant: small-caps;
font-style: italic;
margin: 0px;
}
/* END HEADER CODE */

div#content {
width: 30%;
min-width: 500px;
margin: auto;
margin-bottom: 100px;
margin-top: 25px;
}

div.post {
border-radius:3px;
border: 1px solid #8Bc096;
background:#83B48E;
margin:10px;
padding:5px;
}

img.right {
position:absolute;
left:98%;
top:-15px;
z-index:1;
}

div.post ul {
list-style:none;
}
div.post li {
background: #72A97E;
background-image:url('/static/images/comment-chat-24.png');
background-repeat:no-repeat;
background-position:3px, 3px;
padding: 3px;
padding-left: 35px;
margin-bottom: 10px;
}