a img {
border:0px;
}
a:hover {background-color: #BDDFC9;}
a:link {color: #445E4E;}
a:visited {color: #445E4E;}
a:active {color: black;}
a:hover {background-color: #BDDFC9;}
a {text-decoration: none;}

html,body {
	margin:0;
	padding:0;
	height:100%; /* needed for container min-height */
	background:#445E4E;
	
	font-family:helvetica,sans-serif;
	color:1A241E;
}

div#wrapper {
	position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	width:90%;
	background:#72A97E;
	
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/

	min-height:100%; /* real browsers */
	overflow:hidden;
}

div#footer {
position:absolute;
bottom: 0px;
width: 100%;
height: 50px;
color: #BDDFC9;
background: #445E4E;
padding: 10px;
}

/* HEADER CODE */
div#header {
text-align:center;
text-shadow: 1px 1px 0px #212E26;
background: #445E4E;
color:#BDDFC9;
padding: 10px;
}
div#header h1 {
margin: 0px; 
}
div#header h2 {
font-variant: small-caps;
font-style: italic;
margin: 0px;
}
/* END HEADER CODE */

div#content {
width: 30%;
min-width: 500px;
margin: auto;
margin-bottom: 100px;
margin-top: 25px;
}

div.post {
border-radius:3px;
border: 1px solid #8Bc096;
background:#83B48E;
margin:10px;
padding-top:4px;
padding-left:4px;
padding-right:20px;
padding-bottom:8px;
}

.comment-button {
position:relative;
float:right;
top:-15px;
z-index:1;
}

div.post ul {
list-style:none;
}
div.post li {
background: #72A97E;
background-image:url('/static/images/comment-inactive-24.png');
background-repeat:no-repeat;
background-position:3px, 3px;
padding: 3px;
padding-left: 35px;
margin-bottom: 10px;
}

div.message {
width: 90%;
border-radius: 3px;
border: 1px solid #8BC096;
position:relative;
left: 20px;
background-image:url('/static/images/star-24.png');
background-repeat:no-repeat;
background-position:3px 2px;
padding-top:4px;
padding-left:35px;
padding-right:20px;
padding-bottom:8px;
font-style: italic;
margin-top: 10px;
}


div.reply {
width: 90%;
border-radius: 3px;
border: 1px solid #8BC096;
position:relative;
left: 20px;
background:#83B48E;
background-image:url('/static/images/comment-inactive-24.png');
background-repeat:no-repeat;
background-position:3px 2px;
padding-top:4px;
padding-left:35px;
padding-right:20px;
padding-bottom:8px;
margin-top: 10px;
}

span.reply-info {
	font-size: 80%;
	font-style: italic;
}