#extends base

#def title
View Board: $board.board_name
#end def

#def content
New Thread
<form action="/new_post/" method="post">
	<input type="hidden" name="board_key" value="$board.key" />
	<input type="text" name="message"/>
	<input type="submit" value="Submit" />
</form>
#for $p in $sorted_posts
	<div class="post" id="$p.postnum">
		$p.message <span class="comment-button"><a href="/view_post/$board.key/$p.postnum"><img src="/static/images/pencil-24.png" alt="Comment on this thread."></a></span><br/>
		<div class="reply-preview">
			<ul>
			#if $len(p.replies) <= 2
				#set $display_num = $len($p.replies)
			#else
				#set $display_num = 3
			#end if
			#set $r = $p.replies[-$display_num:]
			<span class="reply-info">
			#if $len($p.replies)>=1
				Latest $len($r)/$len($p.replies) replies:
			#else
				No replies.
			#end if
			</span>
			#for $reply in $r
				<li>
					$reply['reply-text']
				</li>
			#end for
			</ul>
		</div>

	</div>
#end for
#end def